<mat-progress-bar mode="indeterminate" *ngIf="isLoading" style="width: 100%"></mat-progress-bar>

<div fxLayout="column">
  <div class="service-header" fxLayout="column" fxLayoutAlign="center stretch">
    <div fxFlex class="content" fxLayout.lt-sm="column" style="padding: 20px" fxLayout="row"
         fxLayoutAlign="space-around center">
      <div fxFlex="50" fxFlex.lt-sm="100" fxLayout="column" fxLayoutAlign="start center" class="box" *ngIf="program">
        <div class="box-title mg-md-bt">
          <p>{{program.title | uppercase}}</p>
          <p>{{program.schoolYear}}</p>
        </div>
        <div class="box-info mg-md-bt">
          <img class="avatar" [src]="program.classLevel.schoolClass.imageByte" alt="imgC" width="50">
          <div>
            <p class="info">{{program.classLevel.schoolClass.name|titlecase}}</p>
            <p class="sub-info">{{program.classLevel.name|uppercase}}</p>
          </div>
        </div>
        <div class="box-info mg-md-bt">
          <img class="avatar"
               [src]="program.teacher.imageByte?program.teacher.imageByte:'assets/images/avatars/teacher.png'"
               alt="imgT" width="50">
          <div>
            <p class="info">{{program.teacher.lastName|uppercase}} {{program.teacher.firstName|titlecase}}</p>
          </div>
        </div>
      </div>
      <div fxFlex="35" fxFlex.lt-sm="100" fxLayout="row" fxLayoutAlign="center center" class="box" *ngIf="noActiveSession">
        <div>
          <h3 class="mat-display-1">New Session</h3>
          <mat-divider></mat-divider>
          <p class="mat-body-2">
            <button mat-raised-button color="warn" (click)="createSession()">create</button>
          </p>
        </div>
      </div>

    </div>
  </div>

  <div fxLayout="column" class="student-card-content" *ngIf="!noActiveSession && session">
    <div fxLayout="row wrap" class="student-card-container" fxLayout.lt-md="column" fxLayoutGap="20px"
         fxLayoutAlign="center stretch">
      <div fxFlex="25%" fxFlex.gt-sm="20%" fxFlex.gt-md="10%" fxFlex.lt-md="100" fxLayout="column"
           fxLayoutAlign="center center" fxLayoutGap="20px"
           class="mat-elevation-z4 student-card "
           *ngFor="let studentPre of program.students" [ngClass]="getStatusStudent(studentPre) ?  'highlight-green':'highlight-red'" (click)="checkStudent(studentPre.id || '')">
        <div class="img-box">
          <img [src]="studentPre.imageByte?studentPre.imageByte:'assets/images/avatars/students.png'" fxFlex alt="infor" height="512" width="512">
        </div>
        <h3 class="mat-title" fxFlex>{{studentPre.lastName|titlecase}} {{studentPre.firstName|titlecase}}</h3>
      </div>
      <h1 *ngIf="!program.students.length">No student assign to this program ! </h1>
    </div>
  </div>
</div>
