<div class="service-header">
  <div class="content row">
    <div class="col-4 justify-content-center">
      <div class="box" *ngIf="program">
        <div class="box-title mg-md-bt">
          <p>{{program.title | uppercase}}</p>
          <p>{{program.schoolYear}}</p>
        </div>
        <div class="box-info mg-md-bt">
          <img class="avatar" [src]="program.classLevel.schoolClass.imageByte" alt="imgC" width="50">
          <div>
            <p class="info">{{program.classLevel.schoolClass.name|titlecase}}</p>
            <p class="sub-info">{{program.classLevel.name|uppercase}}</p>
          </div>
        </div>
        <div class="box-info mg-md-bt">
          <img class="avatar"
               [src]="program.teacher.imageByte?program.teacher.imageByte:'assets/images/avatars/teacher.png'"
               alt="imgT" width="50">
          <div>
            <p class="info">T. {{program.teacher.lastName|uppercase}} {{program.teacher.firstName|titlecase}}</p>
          </div>
        </div>
        <h4 *ngIf="!noActiveSession && session"> Students In Class:
          <span *ngIf="session.students else noStudent">
            {{(program.students ? (getCountStudentPresent(session.students) / program.students.length * 100) : 0) | number:'1.0-2'}}
            %
            ({{getCountStudentPresent(session.students)}}/{{program.students ? program.students.length : 0}})
          </span>
          <ng-template #noStudent>
            0% (0/{{program.students ? program.students.length : 0}})
          </ng-template>
        </h4>
      </div>

    </div>
    <div class="col-4 justify-content-center">
      <div class="box">
        <div class="qrcodebox" [ngClass]="{'qrcodebox-zoomIn':zoomState}" *ngIf="!noActiveSession"
             (click)="toggleZoomState()">
          <div class="qrcodeImage">
            <qrcode
              [qrdata]="getCurrentUrl()"
              [allowEmptyString]="true"
              [elementType]="'canvas'"
              [errorCorrectionLevel]="'M'"
              [margin]="4"
              [scale]="1"
              [width]="zoomState?400:200"
            ></qrcode>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 justify-content-center">
      <div class="box text-center">
        <h3 class="mat-display-1">{{noActiveSession ? 'open Session' : 'close Session'}}</h3>
        <mat-divider></mat-divider>
        <p class="mat-body-2 text-center">
          <button mat-raised-button [color]="noActiveSession?'warn':'accent'"
                  (click)="noActiveSession?createSession():deactivateSession()">{{noActiveSession ? 'open' : 'close'}}</button>
        </p>
      </div>
    </div>
  </div>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="isLoading" style="width: 100%"></mat-progress-bar>
<div fxLayout="column" class="student-card-content" *ngIf="!noActiveSession && session">
  <div fxLayout="row wrap" class="student-card-container" fxLayout.lt-md="column" fxLayoutGap="20px"
       fxLayoutAlign="center stretch">
    <div fxFlex="25%" fxFlex.gt-sm="20%" fxFlex.gt-md="10%" fxFlex.lt-md="100" fxLayout="column"
         fxLayoutAlign="center center" fxLayoutGap="20px"
         class="mat-elevation-z4 student-card "
         *ngFor="let studentPre of program.students"
         [ngClass]="getStatusStudent(studentPre) ?  'highlight-green':'highlight-red'"
         (click)="checkStudent(studentPre.id || '')">
      <div class="img-box">
        <img [src]="studentPre.imageByte?studentPre.imageByte:'assets/images/avatars/students.png'" fxFlex alt="infor"
             height="512" width="512">
      </div>
      <h3 class="mat-title" fxFlex>{{studentPre.lastName|titlecase}} {{studentPre.firstName|titlecase}}</h3>
    </div>
    <h1 *ngIf="!program.students || !program.students.length">No student assign to this program ! </h1>
  </div>
</div>
