.service-header .content {
  background-image: url("../../../assets/images/bg/black1.jpg");
}
.student-card-content{
  .student-card-container{
    padding: 1.4rem;
    .student-card{
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      cursor: default;
      padding: 1.4rem;
      margin: .7rem 0;
      position: relative;
      text-align: center;
      font-size: .8rem;
      .img-box{
        height: 6rem;
        width: 6rem;
        overflow: hidden;
        border: 1px solid gray;
        border-radius: 50%;
        img {
          height: 100%;
          width: auto;
        }
      }

      h3 {
        margin: 0;
      }
      &:hover {
        transform: translate(0, -8px);
        box-shadow: 0 20px 20px rgba(0, 0, 0, .16);
        cursor: pointer;
      }
    }
  }
}
.box-title{
  display: flex;
  justify-content: space-between;
  width: 100%;
  p{
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
}
.box-info{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  .avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
  }
  div{
    margin: 0 .7rem;
    p{
      margin: 0;
    }
    .info{
      font-size: 1.2rem;
      font-weight: bold;
    }
    .sub-info{
      font-size: 1rem;
      font-weight: lighter;
    }
  }
}
.highlight-red {
  background-color: red;
  color: white;
}

.highlight-green {
  background-color: green;
  color: white;
}


.qrcodebox {
  display: flex;
  flex: 1;
  cursor: pointer;
}
.qrcodebox-zoomIn{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 73%);
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}






