.container{
  padding: 2rem;
  .attendance-table {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
  }

  .attendance-table th, .attendance-table td {
    border: 1px solid #000;
    padding: 8px;
  }
  .checked-icon::before {
    content: '\2713'; /* Unicode checkmark character */
    color: green; /* Change the color as needed */
    font-size: 24px; /* Adjust the size as needed */
  }

  /* Unchecked Icon (Cross) */
  .unchecked-icon::before {
    content: '\2717'; /* Unicode cross character */
    color: red; /* Change the color as needed */
    font-size: 24px; /* Adjust the size as needed */
  }
}

