<mat-progress-bar mode="indeterminate" *ngIf="isLoading" style="width: 100%"></mat-progress-bar>
<div class="service-header">
  <div class="row content">
    <div class="col-6 justify-content-center">
      <div class="box">
        <div>
          <h3 class="mat-display-1">Our Programs</h3>
          <mat-divider></mat-divider>
          <p class="mat-body-2">
            <button mat-raised-button color="warn" (click)="openAddProgramDialog({})">ADD PROGRAM</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-6 justify-content-center">
      <div class="box">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filter:
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="full" subscriptSizing="dynamic">
                  <mat-label>Title</mat-label>
                  <input matInput name="title" [(ngModel)]="title">
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="full" subscriptSizing="dynamic">
                  <mat-label>Teacher</mat-label>
                  <input type="text" matInput [(ngModel)]="teacherSearch" [matAutocomplete]="auto"
                         (input)="loadTeachers()">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayTeacherFn">
                    <mat-option [value]="''"></mat-option>
                    <mat-option *ngFor="let teacher of teachers " [value]="teacher">
                      <img class="option-img"
                           [src]="teacher.imageByte?teacher.imageByte:'assets/images/avatars/teacher.png'"
                           width="30" height="30" alt="task">
                      <span
                        class="teacherSearch">{{ teacher.lastName | uppercase }} {{ teacher.firstName | titlecase }}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="full" subscriptSizing="dynamic">
                  <mat-label>Status</mat-label>
                  <mat-select [(ngModel)]="statusOption" (ngModelChange)="loadPrograms()">
                    <mat-option *ngFor="let option of statusList" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6 justify-content-center">
                <button mat-mini-fab color="warn" (click)="search()">
                  <mat-icon>
                    search
                  </mat-icon>
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!programs.length" style="margin: 1rem 0">
  <h1 class="text-center" *ngIf="isLoading">Wait ...</h1>
  <h1 class="text-center" *ngIf="!isLoading && isError">NO CONNECTION !!!</h1>
  <h1 class="text-center" *ngIf="!isLoading && !programs.length && !isError">NO PROGRAM FOUND !</h1>
</div>
<div fxLayout="column" *ngIf="!isLoading && programs.length">
  <div fxLayout="row wrap" class="program-card-container" fxLayout.lt-md="column" fxLayoutGap="20px"
       fxLayoutAlign="start stretch">
    <div fxFlex="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="33%" fxFlex.lt-md="100" fxLayout="row"
         fxLayoutAlign="start start"
         class="mat-elevation-z4 service-card" *ngFor="let program of programs"
         [style.background-color]="program.status == StatusEnum.ACTIVE ? 'white' : 'rgb(255 228 228)'">

      <div class="left-sid">
        <div class="box-title mg-md-bt">
          <p>{{program.title | uppercase}}</p>
          <p>{{program.schoolYear}}</p>
        </div>
        <div class="box-info mg-md-bt">
          <img class="avatar" [src]="program.classLevel.schoolClass.imageByte" alt="imgC" width="50">
          <div>
            <p class="info">{{program.classLevel.schoolClass.name|titlecase}}</p>
            <p class="sub-info">{{program.classLevel.name|uppercase}}</p>
          </div>
        </div>
        <div class="box-info mg-md-bt">
          <img class="avatar"
               [src]="program.teacherImageByte?program.teacherImageByte:'assets/images/avatars/teacher.png'"
               alt="imgT" width="50">
          <div>
            <p class="info">{{program.teacherFullName|titlecase}}</p>
            <p class="sub-info">Tél: {{program.teacherPhoneNumber}}</p>
          </div>
        </div>
        <div class="box-info mg-md-bt">
          <mat-icon>groups</mat-icon>
          <div>
            <p class="info">Count of Students : {{program.nbrStudent}}</p>
          </div>
        </div>
        <div class="box-sessions" *ngFor="let session of program.sessions; let i = index">
          <h4>-Session #{{i + 1}}</h4>
          <p>{{session.day}}</p>
          <p>
            Start At:<span>{{session.startOfSession}}</span>
            End At:<span>{{session.endOfSession}}</span>
          </p>
        </div>

      </div>
      <div class="right-sid">
        <hr>
        <button mat-mini-fab color="primary" style="background-color: green;"
                (click)="navigateToSessions(program)" matTooltip="create session and check presences">
          <mat-icon>fact_check</mat-icon>
        </button>
        <hr>
        <button mat-mini-fab color="primary" style="background-color: #4b0596;" (click)="navigateToHistoryOfSession(program)"
                matTooltip="history of sessions">
          <mat-icon>history</mat-icon>
        </button>
        <hr>
        <button mat-mini-fab color="primary" (click)="navigateToStudents(program)" matTooltip="list of students">
          <mat-icon>groups</mat-icon>
        </button>
        <!--          <hr>-->
        <!--          <button mat-mini-fab color="accent" (click)="openAddProgramDialog(program)">-->
        <!--            <mat-icon>edit</mat-icon>-->
        <!--          </button>-->
        <hr>
        <button mat-mini-fab [ngClass]="program?.status==StatusEnum.ACTIVE?'btn-red':'btn-green'" style="background-color: white"
                (click)="program?.status==StatusEnum.ACTIVE?deleteItem(program.id || ''):recoverItem(program.id || '')"
                [matTooltip]="program?.status==StatusEnum.ACTIVE?'delete of program':'recover of program'">
          <mat-icon>{{program?.status==StatusEnum.ACTIVE?'delete_outline':'undo'}}</mat-icon>
        </button>
        <hr>
      </div>
    </div>

  </div>

  <mat-paginator style="margin-bottom: 50px;" [length]="totalPrograms" [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="onPageChanged($event)" *ngIf="totalPrograms"></mat-paginator>
</div>

