<div #page>

  <div style="display: flex;justify-content: space-between;align-items: center">
    <div>
      <img src="/assets/images/logo-print_presence.webp" alt="logo">
    </div>
    <div *ngIf="month" class="text-center" style="padding: 5px;border: 2px dashed gray;">
      <p><strong>Month:</strong></p>
      <p style="padding: 2px 20px;background-color: black;color: white">{{month.name |titlecase}}</p>
    </div>
    <div style="padding: 2px 8px;border: 2px dashed gray;">
      <p><strong>Teacher:</strong> {{data.programDto.teacherFullName |titlecase}}</p>
      <p><strong>Level:</strong> {{data.programDto.classLevel.schoolClass.name |titlecase}} / {{data.programDto.classLevel.name |titlecase}}</p>
    </div>
  </div>
  <div>
    <p style="padding: 5px;border: 1px solid gray;">Days:
      <ng-container *ngFor="let session of data.programDto.sessions;last as isLast">
        <span style="margin: 0 5px">{{session.day}} at {{session.startOfSession}} To {{session.endOfSession}}</span><span>{{!isLast?',':'.'}}</span>
      </ng-container>
    </p>
  </div>
  <div class="table-container">
    <table class="attendance-table">
      <thead>
      <tr>
        <th class="no-border"></th>
        <th class="no-border"></th>
        <th class="no-border"></th>
        <th class="no-border"></th>
        <th class="no-border"></th>
        <th style="border-top-color: transparent;border-left-color: transparent;"></th>
        <ng-container *ngFor="let week of data.weeks">
          <th class="gray-bg" [attr.colspan]="week.days.length">{{ week.title }}</th>
        </ng-container>
      </tr>
      <tr class="gray-bg day-row">
        <th>Student's Name</th>
        <th style="text-decoration: underline;">LD</th>
        <th></th>
        <th></th>
        <th style="text-decoration: underline;">{{(getPrecedentMonth((month?.value || 1) - 1)?.name|lowercase)?.substring(0, 3)}}</th>
        <th style="text-decoration: underline;">{{(month?.name|lowercase)?.substring(0, 3)}}</th>
        <ng-container *ngFor="let day of data.daysInCurrentMonth">
          <th class="text-center">
            {{ day.dayNumber }}
          </th>
        </ng-container>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of data.studentPresences">
        <td class="gray-bg" style="font-size: 12px;"><p>{{ item.lastName |titlecase}} {{item.firstName|titlecase}}</p></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <ng-container *ngFor="let day of data.daysInCurrentMonth">
          <td class="text-center">
            <span [ngClass]="isDayPresent(item.attendances, day.dayNumber)"></span>
          </td>
        </ng-container>
      </tr>
      <tr *ngIf="!data.studentPresences.length">
        <td [attr.colspan]="data.daysInCurrentMonth.length + 1" class="text-center">
          No Data Found !
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<iframe #printFrame></iframe>
