<mat-progress-bar mode="indeterminate" *ngIf="isLoading" style="width: 100%"></mat-progress-bar>

<div class="components-container-gt-xs">
  <div class="mat-elevation-z2 contact-list-container">
    <p class="card-head">Contacts | <span>{{totalContacts}} contacts</span></p>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-3">
        <mat-form-field class="full" subscriptSizing="dynamic">
          <input matInput [(ngModel)]="searchValue" name="search-highUp" (input)="pageIndex = 0;loadContacts()" placeholder="Search contacts">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="full" subscriptSizing="dynamic">
          <mat-label>Task</mat-label>
          <mat-select [(ngModel)]="taskOption" (ngModelChange)="pageIndex = 0;loadContacts()">
            <mat-option *ngFor="let task of taskList" [value]="task">{{ task }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="full" subscriptSizing="dynamic">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="statusOption" (ngModelChange)="pageIndex = 0;loadContacts()">
            <mat-option *ngFor="let option of statusList" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3 justify-content-center">
        <button mat-raised-button color="primary" (click)="openAddContactDialog({})">ADD NEW CONTACT</button>
      </div>
    </div>
    <div *ngIf="isLoading" style="margin: 1rem 0">
      <h1 class="text-center">Wait ...</h1>
    </div>
    <div *ngIf="!isLoading && !contacts.length && !isError" style="margin: 1rem 0">
      <h1 class="text-center">NO CONTACT FOUND !</h1>
    </div>
    <div *ngIf="!isLoading && isError" style="margin: 1rem 0">
      <h1 class="text-center">NO CONNECTION !!!</h1>
    </div>
    <ng-container *ngIf="!isLoading && contacts.length">
      <div class="row contact-list" [style.background-color]="contactInfo.status == StatusEnum.ACTIVE ? 'aliceblue' : 'rgb(255 228 228)'" *ngFor="let contactInfo of contacts">

        <div class="col-4">
          <img class="avatar" [src]="contactInfo.imageByte?contactInfo.imageByte:
              contactInfo?.task==TaskEnum.Staff?'assets/images/avatars/staff.png':
              contactInfo?.task==TaskEnum.Teacher?'assets/images/avatars/teacher.png':
              contactInfo?.task==TaskEnum.Student?'assets/images/avatars/students.png':
              contactInfo?.task==TaskEnum.trainee_staff?'assets/images/avatars/students.png':
              'assets/images/avatars/noavatar.png'" width="40" height="40" alt="task" >
          <div style="padding: 0 1rem">
            <h3> {{contactInfo?.lastName |titlecase}} {{contactInfo?.firstName|titlecase}}</h3>
            <p>
              Gender: {{contactInfo?.gender |titlecase}}
            </p>
            <p>
              {{contactInfo?.scholarLevel ? 'scholar Level:' + contactInfo?.scholarLevel : null}}
            </p>
            <p [ngStyle]="{'color': contactInfo?.status == StatusEnum.ACTIVE ? 'green' : 'red'}">
              {{contactInfo?.status === StatusEnum.ACTIVE ? 'Active Account' :
              contactInfo?.status === StatusEnum.DEL?'Deleted Account':'OTHER'
              }}
            </p>
          </div>
        </div >
        <div class="col-2 justify-content-center">
          <div style="padding: 0 1rem" *ngIf="contactInfo?.phoneNumber">
            Tel:
            <p style="padding: 0 1rem">{{contactInfo?.phoneNumber}}</p>
          </div>
        </div>
        <div class="col-2 justify-content-center">
          <div style="padding: 0 1rem" *ngIf="contactInfo?.task">
            Task:
            <mat-chip-listbox>
              <mat-chip>{{contactInfo?.task}}</mat-chip>
            </mat-chip-listbox>
          </div>
        </div>
        <div class="col-2 justify-content-center">
          <div style="padding: 0 1rem" *ngIf="contactInfo?.specialties?.length">
            Specialties:
            <mat-chip-listbox>
              <mat-chip *ngFor="let spe of contactInfo?.specialties">
                {{spe|titlecase}}
              </mat-chip>
            </mat-chip-listbox>
          </div>
        </div>
        <div class="col-2 justify-content-center">
          <button mat-icon-button (click)="openAddContactDialog(contactInfo)" style="color: orange">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="icon delete" [ngClass]="contactInfo?.status==StatusEnum.ACTIVE?'btn-red':'btn-green'"
                  (click)="contactInfo?.status==StatusEnum.ACTIVE?deleteItem(contactInfo.id || ''):recoverItem(contactInfo.id || '')">
            <mat-icon>{{contactInfo?.status==StatusEnum.ACTIVE?'delete_outline':'undo'}}</mat-icon>
          </button>
          <button mat-icon-button aria-label="icon delete definitely" *ngIf="contactInfo?.status==StatusEnum.DEL" class="btn-red"
                  (click)="deleteDefinitelyItem(contactInfo.id || '')">
            <mat-icon>delete_outline</mat-icon>
          </button>


        </div>
      </div>
      <mat-paginator *ngIf="contacts"
                     (page)="onPageChanged($event)"
                     [length]="totalContacts"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     [pageIndex]="pageIndex"
                     [showFirstLastButtons]="true"
      ></mat-paginator>
    </ng-container>
  </div>
</div>


