.contact-list-container {
  background-color: white;
  padding: .7rem;
  .contact-list {
    padding: .7rem;
    border-bottom: 1px solid #cccbcb;
    div {
      margin: 0;
    }
    h3 {
      margin: 0;
      font-size: 1rem;
    }
    p {
      margin: 0;
      font-size: .7rem;
    }
    .avatar {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
  }
}
.btn-delete{
  color: red;
}
.contact-add {
  padding: .7rem;
  background: white;
}
