.contact-list-container {
  background-color: white;
  padding: .7rem;

  .card-head{
    font-weight: bold;
    font-size: 1rem;

    span{
      font-size: .6rem;
    }
  }



  .contact-list {
    padding: .7rem;
    border-bottom: 1px solid #cccbcb;

    div {
      .avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        cursor: pointer;
      }
    }

  }
}

.contact-add {
  padding: .7rem;
  background: white;
}
