<mat-progress-bar mode="indeterminate" *ngIf="isLoading" style="width: 100%"></mat-progress-bar>
<div class="service-header">
  <div class="row content">
    <div class="col-6 justify-content-center">
      <div class="box">
        <div>
          <h3 class="mat-display-1">Our Classes</h3>
          <mat-divider></mat-divider>
          <p class="mat-body-2">
            <button mat-raised-button color="warn" (click)="openAddClassDialog({})">ADD CLASS</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-6 justify-content-center">
      <div class="box">
        <mat-form-field class="full" subscriptSizing="dynamic">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="statusOption" (ngModelChange)="loadClasses()">
            <mat-option *ngFor="let option of statusList" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div fxLayout="column" class="service-card-content">
  <div fxLayout="row wrap" class="service-card-container" fxLayout.lt-md="column" fxLayoutGap="20px"
       fxLayoutAlign="center stretch">
    <div fxFlex="100%" fxFlex.gt-sm="33%" fxFlex.gt-md="20%" fxFlex.lt-md="100" fxLayout="column"
         fxLayoutAlign="center center" fxLayoutGap="20px"
         class="mat-elevation-z4 service-card " *ngFor="let classItem of classes"
         [style.background-color]="classItem.status == StatusEnum.ACTIVE ? 'white' : 'rgb(255 228 228)'">
      <button mat-icon-button aria-label="icon delete" class="btn-delete"
              [ngClass]="classItem?.status==StatusEnum.ACTIVE?'btn-red':'btn-green'"
              (click)="classItem?.status==StatusEnum.ACTIVE?deleteItem(classItem.id || ''):recoverItem(classItem.id || '')">
        <mat-icon>{{classItem?.status == StatusEnum.ACTIVE ? 'delete_outline' : 'undo'}}</mat-icon>
      </button>
      <img [src]="classItem.imageByte" fxFlex alt="infor" height="512" width="512">
      <h3 class="mat-title" fxFlex>{{classItem.name |titlecase}}</h3>
      <button mat-button color="primary" (click)="navigateToLevels(classItem)">View Levels</button>
    </div>
  </div>
  <mat-paginator style="margin-bottom: 50px;" [length]="totalContacts" [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="onPageChanged($event)"></mat-paginator>
</div>

