#container-traitement{
  text-align: -webkit-center;
  padding: 2rem;
  #croppedImage{
    margin-top: 30px;
    #action{
      margin-top:2rem;
      button{
        margin: 0 1rem;
      }
    }
  }

}
#img-event{
  width: 20rem!important;
  height: 20rem!important;
  position:relative;
  top: 0;
  left: 0;
}

