@use 'sass:map';
@use '@angular/material' as mat;
@import '../app/auth/auth.component.scss';
@import '../app/core/sidemenu/sidemenu.component.scss';
@import '../app/core/sidemenu-item/sidemenu-item.component.scss';

@include mat.core();

$primary: mat.$indigo-palette;
$accent: mat.$orange-palette;
$warn: mat.$red-palette;

$primary-app-primary: mat.define-palette($primary, 400);
$primary-app-accent: mat.define-palette($accent, 900);
$primary-app-warn: mat.define-palette($warn);

$ec-theme: mat.define-light-theme((
  color: (
    primary: $primary-app-primary,
    accent: $primary-app-accent,
    warn: $primary-app-warn
  ),
  density: 0,
));
ec-sidemenu {
  $sidemenu-app-primary: mat.define-palette(mat.$grey-palette, 900);
  $sidemenu-app-accent: mat.define-palette($accent, 900);
  $sidemenu-app-warn: mat.define-palette($warn);
  $ec-sidemenu-theme: mat.define-dark-theme((
    color: (
      primary: $sidemenu-app-primary,
      accent: $sidemenu-app-accent
    )
  ));
  @include mat.list-theme($ec-sidemenu-theme);
}


ec-sidemenu-item {
  @include sidemenu-item($ec-theme, 40px)
}
@include mat.all-component-themes($ec-theme);
@include auth($ec-theme);




