<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="background-image:url('assets/login11.jpg');
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;">
  <div fxLayout="column"  fxLayoutAlign="center center">

    <mat-card class="card-container">
      <mat-card-title class="card-title">
        <img [ngSrc]="'./assets/highUp.jpg'" [width]="36" alt="logo" [height]="36" priority>
        <h1>User login</h1>
      </mat-card-title>
      <mat-card-content>
        <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="userForm" (ngSubmit)="login()">
          <mat-form-field class="full">
            <input id="usernameOrEmail" class="input" placeholder="Please enter your username or email"
                   formControlName="usernameOrEmail" required matInput>
          </mat-form-field>
          <div *ngIf="formErrors.username" class="is-danger">
            {{ formErrors.username }}
          </div>
          <mat-form-field class="full">
            <input type="password" id="password" class="input" placeholder="please  enter your password"
                   formControlName="password" required matInput>
          </mat-form-field>
          <button mat-raised-button class="btn-submit" type="submit"  (click)="login()">log in</button>
          <div *ngIf="message" class="is-danger">
            {{ message }}
          </div>
        </form>
      </mat-card-content>
<!--      <mat-card-actions>-->
<!--        <a class="redirect" [routerLink]="['/sigup']">Register an account</a>-->
<!--      </mat-card-actions>-->
      <mat-card-footer>
        <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading" style="width: 100%"></mat-progress-bar>

      </mat-card-footer>

    </mat-card>

  </div>
</div>
