.card-container{
  background-color: black;
  color: white;
  padding: 30px;
  width: 400px;
  .card-title{
    margin: 20px 0;
    text-align: center;
    img{
      width: 60px;
      height: 60px;
    }
  }
}
.btn-submit {
  font-size: 18px;
  text-transform: capitalize;

  &:not(:disabled){
    background-color: #bb8f3e;
    color: white;
  }
  &[disabled][disabled]{
    background-color: #5d4f34;
    color: #939191;
  }
}
.redirect {
  font-size: 14px;
  margin-left: 10px;
  color: #00AAAA;
}
.is-danger{
  color: #d74a4a;
}
@media screen and (max-width: 768px) {
  .card-container{
    width: 300px;
  }
}
