<mat-progress-bar mode="indeterminate" *ngIf="isLoading" style="width: 100%"></mat-progress-bar>
<div mat-dialog-title style="padding: 5px">
  <h3 class="mat-headline" fxFlex="80">{{classForm.controls['id'].value ? 'Update Contact' : 'Add New Contact'}}</h3>
  <div fxLayout="row" fxLayoutAlign="end center" fxFlex="10">
    <button mat-icon-button (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <form [formGroup]="classForm" (ngSubmit)="onSubmit()">
    <label for="imageInput">Image:</label>
    <input type="file" id="imageInput" (change)="onImageChange($event)" accept="image/*">
    <div fxLayoutGap="10px" fxLayout.lt-lg="column" fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field class="full" subscriptSizing="dynamic">
        <mat-label>Name:</mat-label>
        <input matInput id="nameInput" formControlName="name" required>
      </mat-form-field>
    </div>
    <br>
    <div fxLayoutGap="10px" fxLayout.lt-lg="column" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" [disabled]="classForm.invalid">{{ data.id ? 'Update' : 'Add' }} Class</button>

      <button mat-raised-button (click)="onCancel()">CANCEL</button>
    </div>
  </form>
</div>

