.service-header .content {
  background-image: url("../../../assets/images/bg/black2.jpg");
}

.program-card-container {
  padding: 20px;
}
.option-img {
  vertical-align: middle;
  margin: 2px 4px 2px 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

span.studentSearch{
  font-size: 14px;
}


table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
}
.mat-column-position,.mat-column-phoneNumber,.mat-column-gender,.mat-column-age,.mat-column-scholarLevel{
  text-align: center;
}
