<div fxLayout="column">
  <div class="service-header" fxLayout="column" fxLayoutAlign="center stretch">
    <div fxFlex class="content" fxLayout.lt-sm="column" style="padding: 20px" fxLayout="row"
         fxLayoutAlign="start center">
      <div fxFlex="40" fxFlex.lt-sm="100" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start center" class="box">
        <h3 class="mat-display-1">ADD STUDENT</h3>
        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="space-around center"
             style="width: 100%">
          <div fxFlex="80" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" fxFill>
            <mat-form-field class="full" subscriptSizing="dynamic">
              <mat-label>Student</mat-label>
              <input type="text" matInput [(ngModel)]="studentSearch" [matAutocomplete]="auto"
                     (input)="loadStudentsNotInProgram()" autocomplete="false">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayStudentFn">
                <mat-option *ngFor="let student of studentsNotInProgram " [value]="student">
                  <img class="option-img"
                       [src]="student.imageByte?student.imageByte:'assets/images/avatars/students.png'"
                       width="30" height="30" alt="task">
                  <span
                    class="studentSearch">{{ student.lastName | uppercase }} {{ student.firstName | titlecase }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div fxFlex fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
            <form (ngSubmit)="addStudent()">
              <button mat-mini-fab color="warn" [disabled]="isLoading">
                <mat-icon>
                  add
                </mat-icon>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading" style="width: 100%"></mat-progress-bar>
  <button mat-fab color="primary" aria-label="previous page" style="margin: 1rem" (click)="previousPage()">
    <mat-icon>undo</mat-icon>
  </button>
  <div fxLayout="column" style="padding: 40px;">
    <mat-form-field class="full">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- No Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let element;let i = index" [style.background-color]="element.status == StatusEnum.ACTIVE ? 'aliceblue' : 'rgb(255 228 228)'"> {{i + 1}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element" [style.background-color]="element.status == StatusEnum.ACTIVE ? 'aliceblue' : 'rgb(255 228 228)'">
          <div style="display: flex;align-items: center;">
            <img class="option-img" [src]="element.imageByte?element.imageByte:'assets/images/avatars/students.png'" alt="profile">
            {{element.lastName|titlecase}} {{element.firstName|titlecase}}
          </div>
        </td>
      </ng-container>

      <!-- gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender</th>
        <td mat-cell *matCellDef="let element" [style.background-color]="element.status == StatusEnum.ACTIVE ? 'aliceblue' : 'rgb(255 228 228)'">
          {{element.gender|titlecase}}
        </td>
      </ng-container>

      <!-- phoneNumber Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number</th>
        <td mat-cell *matCellDef="let element" [style.background-color]="element.status == StatusEnum.ACTIVE ? 'aliceblue' : 'rgb(255 228 228)'"> {{element.phoneNumber || '--'}} </td>
      </ng-container>

      <!-- scholarLevel Column -->
      <ng-container matColumnDef="scholarLevel">
        <th mat-header-cell *matHeaderCellDef> Scholar Level</th>
        <td mat-cell *matCellDef="let element"[style.background-color]="element.status == StatusEnum.ACTIVE ? 'aliceblue' : 'rgb(255 228 228)'"> {{(element.scholarLevel |titlecase) || '--'}} </td>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age</th>
        <td mat-cell *matCellDef="let element"[style.background-color]="element.status == StatusEnum.ACTIVE ? 'aliceblue' : 'rgb(255 228 228)'"> {{calculateAge(element.dateOfBirth)}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef> Del</th>
        <td mat-cell *matCellDef="let element" [style.background-color]="element.status == StatusEnum.ACTIVE ? 'aliceblue' : 'rgb(255 228 228)'">
          <button mat-mini-fab color="warn" (click)="deleteStudent(element.id)" [disabled]="isLoading">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="7" style="padding: 1rem;text-align: center">No data found !</td>
      </tr>
    </table>
  </div>
</div>
