.service-header .content{
  background-image: url("../../../assets/images/bg/black2.jpg");
}

.service-card-content{
  .service-card-container {
    padding: 1.4rem;
    .service-card {
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      cursor: default;
      background-color: white;
      padding: 1.4rem;
      margin: .7rem 0;
      position: relative;
      .btn-delete{
        color: red;
        position: absolute;
        top: 0;
        right: 0;
      }
      img {
        height: 7rem;
        width: 7rem;
      }
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
        text-align: center;
      }
      &:hover {
        transform: translate(0, -8px);
        box-shadow: 0 20px 20px rgba(0, 0, 0, .16)
      }
    }
  }
}
